@import url('https://fonts.googleapis.com/css2?family=Anton&family=New+Rocker&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'New Rocker', cursive;
}
section {
    height: 100vh;
    background-color:rgb(15, 18, 53);
    font-family: 'New Rocker', cursive;
}
.score {
    color: rgb(221, 218, 218);
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 150px;
}

.score h2{
    font-size: 30px;
    
}
.score p{
    text-align: center;
    padding: 10px;
    font-size: 25px;
}

.intro{
   color:rgb(221, 218, 218);
   height: 50vh;
    font-family: sans-serif;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
transition: opacity 0.7s ease;
}

.intro h1 {
    font-size: 50px;
}

.intro button,
.match button {
    width: 150px;
    height: 50px;
    background: none;
    border: 2px outset green;
    color: rgb(221, 218, 218);
    font-size: 20px;
    background: rgb(42, 103, 236);
    text-align: center;
    text-justify: center;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 3px 2px 1px darkgreen;
}

.match {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.9s ease;

}

.winner {
    color: whitesmoke;
    text-align: center;
    font-size: 50px;

}

.hands,
.options {
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.player-hand {
    transform: rotatey(180deg);
}
div.fadeOut {
    opacity: 0;
pointer-events: none;
}

div.fadeIn {
    opacity: 1;
    pointer-events: all;
}

@keyframes shakePlayer {
    0% {
        transform: rotatey(180deg) translatey(0px)
    }
    15% {
        transform: rotatey(180deg) translatey(-50px)
    }
    25% {
        transform: rotatey(180deg) translatey(0px)
    }
    35% {
        transform: rotatey(180deg) translatey(-50px)
    }
    55% {
        transform: rotatey(180deg) translatey(0px)
    }
    75% {
        transform: rotatey(180deg) translatey(-50px)
    } 85% {
        transform: rotatey(180deg) translatey(0px)
    }
    100% {
        transform: rotatey(180deg) translatey(-50px)
    }
}
@keyframes shakeComputer {
    0% {
        transform: translatey(0px)
    }
    15% {
        transform: translatey(-50px)
    }
    25% {
        transform: translatey(0px)
    }
    35% {
        transform: translatey(-50px)
    }
    55% {
        transform: translatey(0px)
    }
    75% {
        transform: translatey(-50px)
    } 85% {
        transform: translatey(0px)
    }
    100% {
        transform: translatey(-50px)
    }

}

@media  (max-width: 750px){
    
       * { 
           width:100%;
        }
    
    
}